.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.nav {
  height: 80px;
}

.container {
  margin-top: 80px;
}

li:hover {
  background-color: rgb(61, 75, 90);
  transition: all;
  transform: scale(1.1);
  cursor: pointer;
}
