
<div class="w-100 d-flex justify-content-between">
  <!-- COUPLE LAT-LON-->
  <app-couple-lat-lon *ngIf="this.registry" [registry]="this.registry"></app-couple-lat-lon>
  <!-- ARRAY OF LAT/LON-->
  <app-array-lat-lon *ngIf="this.registry" [registry]="this.registry"></app-array-lat-lon>
  <!-- GEO JSON-->
  <app-geo-json *ngIf="this.registry" [registry]="this.registry"></app-geo-json>
</div>


<div class="fixed-bottom" style="margin-bottom: 10px !important;">
  <div class="d-flex flex-row justify-content-center">
    <h4>EPSG Registry entries: {{ this.registry.length }} </h4> &nbsp; &nbsp;
   <!--  <button (click)="loadRegistry()" type="button p-2" class="btn btn-outline-primary">Reload Registry</button> -->
  </div>

</div>
