<div class="w-100 d-flex justify-content-between">

  <!-- card 1: lat/long - array chords-->
  <div class="card p-2 m-3">

    <div class="card-header">
      <h5 class="card-title">Lat/Lon Conversion</h5>
    </div>
    <div class="card-body">
      <!-- start FORM -->
      <form [formGroup]="CoupleLatLonForm">
        <div class="row">
          <div class="col-6">
            <label for="Latitude">Latitude: </label>
            <input class="form-control" id="Latitude" type="text" formControlName="Latitude">
          </div>
          <div class="col-6">
            <label for="Longitude">Longitude: </label>
            <input class="form-control" id="Longitude" type="text" formControlName="Longitude">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="typeahead-focus">EPSG Source</label>
            <input
              [disabled]="this.registry === null || this.registry === undefined || this.registry.length === 0 "
              id="typeahead-focus"
              type="text"
              class="form-control"
              formControlName="Source"
              [ngbTypeahead]="search"
              (focus)="focus$.next($any($event).target.value)"
              (click)="click$.next($any($event).target.value)"
              #instance="ngbTypeahead"
            />
          </div>
        </div>
      </form>
      <!-- end FORM -->
      <a (click)="LatLongConversion()" class="btn btn-primary w-100 mt-2">Convert</a>
    </div>
  </div>




</div>
